extends layout
block headScripts
	script(src='/javascripts/metadatamgmt.js')

block mainContainer
	h3 Metadata Management
	div.formBox
		h4 Add new company 
		div(id='add-company')
			form(id='add-company-form')
				fieldset
					div(id='add-company-field-companyName')
						label(for='companyName') Company Name:
						input(type="text", name="companyName")
					div(id='add-company-field-marketCap')
						label(for='marketCap') Market Capitalization:
						input(type="number", name="marketCap")
					div(id='add-company-field-sector')
						label(for='sector') Sector:
						select(type="text", name="sector")
							option(selected='selected' disabled) Select sector
							each sector in sectors 
								option(value=sector.sectorId) #{sector.sector}
					div(id='add-company-field-industry').hidden
						label(for='industry') Industry:
						select(type="text", name="industry")
							option(selected='selected' disabled) Select industry
					div
						input(type='button', value='Add Company', id='add-company-submit')
	div.formBox
		h4 Add new ticker
		div(id='add-ticker')
			form(id='add-ticker-form')
				fieldset
					div(id='add-ticker-field-assetClass')
						label(for='assetClass') Asset Class:
						select(type="text", name="assetClass" id='add-ticker-select-assetClass' )
							option(selected='selected' disabled) Select asset class
							each assetClass in assetClasses 
								option(value=assetClass.assetClassId) #{assetClass.assetClass}
					div.hidden
						div(id='add-ticker-field-symbol')
							label(for='symbol') Ticker Symbol:
							input(type="text", name="symbol")
						div(id='add-ticker-field-companyName')
							label(for='companyName') Company Name:
							select(type="text", name="companyName")
								option(selected='selected' disabled) Select company
								each company in companies 
									option(value=company.companyId) #{company.companyName}
						div(id='add-ticker-field-country')
							label(for='country') Country:
							select(type="text", name="country")
								option(selected='selected' disabled) Select country
								each country in countries 
									option(value=country.countryId) #{country.country}
						div(id='add-ticker-field-currency')
							label(for='currency') Currency:
							select(type="text", name="currency")
								option(selected='selected' disabled) Select currency
								each currency in currencies 
									option(value=currency.currencyId) #{currency.currencyCode}
						div
							input(type='button', value='Add Ticker', id='add-ticker-submit')
	div.formBox
		h4 Update Existing Company 
		div(id='update-company')
			form(id='update-company-form')
				fieldset
					div(id='select-company-field-companyName')
					select(type="text", name="company" id="update-company-select-company")
						option(selected='selected' disabled) Select company to update
						each company in companies 
							option(value=company.companyId) #{company.companyName}
					div.hidden
						div
							label(for='companyName') Update Company Name:
							input(type="text", name="companyName", id="update-company-name")
						div(id='update-company-field-marketCap')
							label(for='marketCap') Update Market Capitalization:
							input(type="number", name="marketCap", id="update-company-marketCap")
						div(id='update-company-field-industry')
							label(for='industry') Update Industry:
							select(type="text", name="industry" id='update-company-industry')
								option(selected='selected' disabled) Select industry
								each industry in industries 
									option(value=industry.industryId) #{industry.industry}
						div
							input(type='button', value='Update Company', id='update-company-submit')
	div.formBox
		h4 Update Existing Ticker
		div(id='update-ticker')
			form(id='select-update-ticker-form')
				fieldset
					div(id='select-ticker-field-country')
						label(for='country') Select Ticker Country:
						select(type="text", name="country", id='select-ticker-select-country')
							option(selected='selected' disabled) Select country
							each country in countries 
								option(value=country.countryId) #{country.country}
					div(id='select-ticker-field-symbol').hidden
						label(for='symbol') Select Ticker to Update:
						select(type="text", name="ticker" id='ticker-select-symbol')
							option(selected='selected' disabled) Select ticker
			form(id='update-ticker-form').hidden
				fieldset
					div(id='update-ticker-field-country')
						label(for='country') Update Ticker Country:
						select(type="text", name="country", id='update-ticker-select-country')
							option(selected='selected' disabled) Select country
							each country in countries 
								option(value=country.countryId) #{country.country}
					div(id='update-ticker-field-symbol')
						label(for='symbol') Update Ticker symbol:
						input(type="text", name="symbol", id="update-ticker-symbol")
					div(id='update-ticker-field-assetClass')
						label(for='assetClass') Update Ticker Asset Class:
						select(type="text", name="assetClass" id='update-ticker-assetClass-select')
							option(selected='selected' disabled) Select asset class
							each assetClass in assetClasses 
								option(value=assetClass.assetClassId) #{assetClass.assetClass}
					div(id='update-ticker-field-company').hidden
						label(for='companyName') Update Ticker Company:
						select(type="text", name="companyName", id='update-ticker-select-company' )
							option(selected='selected' disabled) Select company
							each company in companies 
								option(value=company.companyId) #{company.companyName}
					div(id='update-ticker-field-currency')
						label(for='currency') Update Ticker Currency:
						select(type="text", name="currency" id='update-ticker-currency-select')
							option(selected='selected' disabled) Select currency
							each currency in currencies 
								option(value=currency.currencyId) #{currency.currencyCode}
					div
						input(type='button', value='Add Ticker', id='update-ticker-submit')
